body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
  }

  .controls {
    margin-bottom: 10px;
  }

  input {
    width: 100px;
  }

  .img_container{
    width:85vw;
    height:70vh;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{
    width:80vw;
    height:40vw;
    padding:0;
  }